/* Custom font */
@font-face {
    font-family:"zuume-900";
    src:url("https://use.typekit.net/af/de802b/0000000000000000774d3f52/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/de802b/0000000000000000774d3f52/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/de802b/0000000000000000774d3f52/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}
    
@font-face {
    font-family:"zuume-700";
    src:url("https://use.typekit.net/af/82676c/0000000000000000774d3f55/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/82676c/0000000000000000774d3f55/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/82676c/0000000000000000774d3f55/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}
@font-face {
    font-family:"Suisse Regular";
    src:url("./assets/fonts/SuisseIntl-Regular-WebXL.woff") format("woff");
}
@font-face {
    font-family:"Suisse Medium";
    src:url("./assets/fonts/SuisseIntl-Medium-WebXL.woff") format("woff");
}
@font-face {
    font-family:"Suisse Semi";
    src:url("./assets/fonts/SuisseIntl-SemiBold-WebXL.woff") format("woff");
}
@font-face {
    font-family:"Suisse Bold";
    src:url("./assets/fonts/SuisseIntl-Bold-WebXL.woff") format("woff");
}
@font-face {
    font-family:"Suisse Black";
    src:url("./assets/fonts/SuisseIntl-Black-WebXL.woff") format("woff");
}
    
/* Reset CSS */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background-color: #0f0f0f;
    font-family: "zuume",sans-serif;
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 6.2rem;
    font-family: 'Suisse Medium', sans-serif;
}
.logo img{
    width: 6rem;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}
nav ul li a{
    font-family: inherit;
    font-size: 20px;
    text-decoration: none;
    color: #EEEDE6;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .4s;
}
nav ul li a:hover{
    color: #a9ff5c;
}
nav ul li:nth-child(3) a:hover{
    background-color: #1f2616;
    color: #a9ff5c;
    border-radius: 13px;
    padding: .7rem 1.3rem;
}
nav button{
    background-color: #EEEDE6;
    border: none;
    overflow: hidden;
    box-shadow: none;
    position: relative;
    border-radius: 20px;
    font-family: inherit;
    color: #0f0f0f;
    font-size: 21px;
    padding: 1.2rem 2rem;
    cursor: pointer;
    transition: color .5s;
}
nav button::before{
    content: '';
    position: absolute;
    top: -55px;
    left: -3px;
    width: 183px;
    height: 183px;
    border-radius: 50%;
    background: #CA5DFF;
    transform: scale(0);
    transform-origin: center;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
nav button::after{
    content: 'Get Started';
    font-family: inherit;
    position: absolute;
    color: transparent;
    top: 19px;
    left: 0;
    width: 100%;
    border-radius: 50%;
    font-size: 21px;
    transition: color .5s;
    z-index: 99;
}
nav button:hover::before{
    transform: scale(1);
}
nav button:hover::after{
    color: #EEEDE6;
}
.hero_section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.left{
    width: 50%;
    padding: 1.5rem 0 0 6.2rem;
}
.left h1{
    opacity: .9;
    font-family: 'zuume-900';
    font-size: 11.8rem;
    line-height: 9.3rem;
    letter-spacing: .3rem;
    position: relative;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(./assets/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.left p{
    color: #efece699;
    font-size: 24px;
    width: 33rem;
    line-height: 2.2rem;
    margin: 2rem 0 2.8rem 0;
}
.left button{
    border: none;
    overflow: hidden;
    box-shadow: none;
    position: relative;
    border-radius: 20px;
    color: #0f0f0f;
    transition: color .5s;
    font-size: 24px;
    padding: 1.2rem 2rem;
    background-color: #EEEDE6;
    font-family: 'Suisse Medium', sans-serif;
    cursor: pointer;
    margin-right: 1rem;
}
.left .one::before{
    content: '';
    position: absolute;
    top: -90px;
    left: -5px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #CA5DFF;
    transform: scale(0);
    transform-origin: center;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
.left .one::after{
    content: 'Get Started';
    font-family: inherit;
    position: absolute;
    color: transparent;
    top: 19.5px;
    left: -19px;
    width: 100%;
    border-radius: 50%;
    font-size: 24px;
    transition: color .5s;
    z-index: 99;
}
.left .one:hover::before{
    transform: scale(1);
}
.left .one:hover::after{
    color: #EEEDE6;
}
.left .two::before{
    content: '';
    position: absolute;
    top: -120px;
    left: -5px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: #CA5DFF;
    transform: scale(0);
    transform-origin: center;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
.left .two::after{
    content: 'Experience Generator';
    font-family: inherit;
    position: absolute;
    color: transparent;
    top: 19.5px;
    left: 0px;
    width: 100%;
    border-radius: 50%;
    font-size: 24px;
    transition: color .5s;
    z-index: 99;
}
.left .two:hover::before{
    transform: scale(1);
}
.left .two:hover::after{
    color: #EEEDE6;
}
.left button:nth-child(odd){
    background-color: #a9ff5c;
}
.left button span{
    margin-left: .7rem;
}
.right{
    width: 55%;
}
.right video{
    width: inherit;
    position: absolute;
    top: 150px;
    right: -120px;
}

 @media (max-width: 769px) {
    nav{
        padding: 2rem 3rem;
    }
    .logo img{
        width: 5.3rem;
    }
    nav ul{
        gap: .5rem;
    }
    nav ul li a{
        font-size: 1rem;
    }
    nav button{
        border-radius: 14px;
        font-size: 1.2rem;
        padding: .8rem 1rem;
    }
    .left{
        width: 100%;
        padding: 2.5rem 0 0 3rem;
    }
    .left h1{
        font-size: 7.5rem;
        line-height: 6.1rem;
    }
    .left p{
        font-size: 20px;
        width: 27rem;
        line-height: 2.2rem;
        margin: 2rem 0 2.8rem 0;
    }
    /* .left button{
        border: none;
        overflow: hidden;
        box-shadow: none;
        position: relative;
        border-radius: 20px;
        color: #0f0f0f;
        transition: color .5s;
        font-size: 24px;
        padding: 1.2rem 2rem;
        background-color: #EEEDE6;
        font-family: 'Suisse Medium', sans-serif;
        cursor: pointer;
        margin-right: 1rem;
    } */
 }